
.slick-next:before, .slick-prev:before {
  font-size: 20px !important;
  line-height: 1;
  opacity: .75;
  color: #fff;
}

.container-fluid{
  padding-left: 3%;
  padding-right: 3%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}

