.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card{
    margin: 0px 0px 50px 0;
}

.soc-icon{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.soc-icon-header{
    width: 80px;
    height: 80px;
    margin: 0 25px 10px 0;
}


.gallery-div{
    background-color: rgb(238, 238, 238);
    padding: 15px 5px 15px 5px !important;
    margin: 0 -15px 0 -15px !important;
    border-radius: 15px;
}

@media screen and (max-width: 767px)  {
    .gallery-div-sm{
        position: relative !important;
        overflow: scroll;
        height: 20rem;    
        padding-top: 30px !important;
        margin-top: 0px;    
    }

    .soc-icon-header{
        width: 50px;
        height: 50px;
        margin: 0 25px 10px 0;
    }
}