.testCol{
    border: 2px solid red;
}

.testRow{
    border: 2px solid blue;
}

.scroll-adjust {
    padding-top: 125px;
    margin-top: -125px;
}

.mainDiv{
    height: 800px !important;
    position: relative !important;
    overflow-y: scroll !important;
  
}

.seperator{
    border-top: 1px solid rgb(160, 160, 160);
    margin: 75px 0px 75px 0;
    width: 95%;
}
