 .carousel-div {
    position: sticky !important;
    margin-top: -400px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
    bottom: 0px;
    left: 0;
    z-index: 2;
    overflow: hidden;
    border-bottom: 4px solid rgb(68, 68, 68);
}


@media screen and (max-width: 767px)  {
    .carousel-div {
        position: sticky !important;
        margin-top: -400px;
        margin-bottom: 25px;
        width: 100%;
        height: 450px !important;
        bottom: 0px;
        left: 0;
        z-index: 2;
        overflow: hidden;
    }

    .brand-img{
        position: relative !important;
        top: 40px !important;
        height: auto !important;
        width: auto !important;
        padding: 25px !important;
        height: auto;
        margin: 0 0 0 0;
        z-index: 10;
    }
    
    .HeadImg {
        width: 100% !important;
        background-size: cover;
        background-position: center;
        position: relative;
      }
    
}