.contactdiv-div{
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactdiv-div ul{
	padding: 0 ;
}

.contactdiv-div ol{
	padding: 0 ;
}


#ContactDiv-first-row{
	margin: 0 auto !important;
}

.checklist li{
    margin: 0;
	list-style: none;
	font-weight: 600;
    font-size: 16px;
    color: #595959;
    margin-bottom: 20px;
    word-wrap: normal;

}


.contact-checklist br{
    display: none;
}

.contact-checklist li{
	font-weight: 600;
    font-size: 16px;
    color: #595959;
    margin-bottom: 20px;
    margin: 0;
    list-style: none;
    line-height: 45px;
}

.tag{
    color: #ff0000;
    padding:2px;
}

#charcoal{
    color: rgb(161, 0, 0);
}

.know-btn{
	background-color: #d30000 !important;
	font-family: 'Arial', 'sans-serrif' !important;
	color: #FFFFFF;
	font-size: 12pt;
}

.know-btn:hover{
	background-color: #860101 !important;
	font-family: 'Arial', 'sans-serrif' !important;
	color: #FFFFFF;
	font-size: 12pt;
}

.checklist li{
    font-size: 12pt;
    color: #595959;
    margin: 0 !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;

}

.contact-checklist li{
    font-size: 12pt;
    color: #595959;
    margin: 0 0 0 0 !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;

}

.contact-checklist p {
    padding-left:5px !important; /* adjust it to your custom font needings */
    padding-right:5px !important;
    position:relative;
    margin-top: -30px !important;
    left:18px; /* adjust it to your custom font needings */
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    line-height: 20px !important;
}

.checklist p {
    padding-left:5px !important; /* adjust it to your custom font needings */
    padding-right:5px !important;
    position:relative;
    margin-top: -25px !important;
    left:18px; /* adjust it to your custom font needings */
}


@media screen and (max-width: 767px)  {

    .contact-checklist br{
        display: unset;
    }
	.contact-text p{
		margin-bottom: 15px;
	}
	
	.checklist, .contact-checklist{
        list-style: none;

	}

    .fa-check, .fa-fire{
		font-size: 12pt;

	}
	.checklist li{
		font-size: 12pt;
        color: #595959;
        margin: 0 !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;

    }

    .contact-checklist li{
		font-size: 12pt;
        color: #595959;
        margin: 0 0 0 0 !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
  
    }

    .contact-checklist p {
        padding-left:5px !important; /* adjust it to your custom font needings */
        padding-right:5px !important;
        position:relative;
        margin-top: -30px !important;
        left:18px; /* adjust it to your custom font needings */
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        line-height: 20px !important;
    }

    .checklist p {
        padding-left:5px !important; /* adjust it to your custom font needings */
        padding-right:5px !important;
        position:relative;
        margin-top: -25px !important;
        left:18px; /* adjust it to your custom font needings */
    }

    





	

	
}