.contact-h1{
    border-bottom: 2px solid #000;
}

.modal-body{
    background-color: rgb(235, 235, 235);
    padding: 10px 15px 5px 8px;
}


.contactBtn{
    margin: 5px 0 5px 0;
    box-shadow: 1px 1px 1px;
}

.contact-title{
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}

form{
    padding: 0 !important;
    width: 100% !important;
}

@media screen and (max-width: 767px)  {
    .contact-div{
        position: relative !important;
        padding: 15px 25px 15px 10px !important;
        margin: 0px 0px 20px 0px !important;
        overflow: scroll;
        height: 22rem;      
        border-radius: 8px !important;
        box-shadow: 2px 2px 2px #888;  
    }
    h1{
        font-size: 18pt;
    }

    .contact-text{
        text-overflow: ellipsis !important;
    }
    
}