
.gordon-pic{

}

.about-header{
    border-left: 2px solid rgb(26, 26, 26);;
    padding: 5px 0px 0px 10px !important;
    margin: 0px 0px 0px 0px !important;
}

.about-header .headerA{
    color: rgb(26, 26, 26);
    padding: 0px 0px 0px 0px !important;
    margin: 0 0 0 0 !important;
}

.about-header .headerB{
    color: rgb(146, 0, 0);
    padding: 0px 0px 0px 0px !important;
    margin: 0 0 -20px 0 !important;
}

.about-text{
    text-indent: 1.4rem;
    margin-bottom: 0px !important;
    margin-top: 15px;
}

.about-div{

    font-family: 'Reem Kufi', sans-serif;
    /* font-family: 'Bowlby One SC', cursive;
    font-family: 'Hammersmith One', sans-serif; */
}

.about-div p{
    font-size: 12pt;
    color: rgb(26, 26, 26);
}

.about-div h5{
    color: #FFF;
}


@media screen and (max-width: 767px)  {
   
}