.brand-image{
    display: none;
}

.brand-text-link {
    color: inherit !important;
    text-decoration: none !important;
}

.list-group{
    border-bottom: none !important;
}

.brand-text{
    margin: 0 0 0 75px !important;
    color: #FFF;
    font-family: 'Frijole', cursive;
}

.bg-dark{
    opacity: 0.96;
}

.navbar{
    padding: 0 !important;
}

.nav-link.active, .nav-link.show, .navbar-nav .show>.nav-link{
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
    background: #d3d3d3; /* Old browsers */
    opacity: 1 !important;
    border:none !important;
}

.dropdown-menu{
    background: #000000 !important;
}

.dropdown-item{
    color: rgba(255,255,255,.5) !important;
}

.dropdown-item:hover{
    font-weight: bold;
}

#insta:hover{
    color:rgb(255, 0, 179) !important;
}

#fb:hover{
    color:rgb(0, 60, 255) !important;
}

#yt:hover{
    color:rgb(255, 0, 0) !important;
}

#tw:hover{
    color:rgb(132, 0, 255) !important;
}

#soc-menu{
    color: rgba(255,255,255,.5) !important;
    background: transparent !important;
    margin: 0 0 0 0;
}

.navbar .nav{
    top: 0 !important;
    height: 50px;
    z-index: 1;
}

.nav-pos{
    margin: 0 0 0 100px !important;
    position: relative !important;
    right: 5%;
 }

.nav-pill{   
    background-color: transparent;
    text-align: center;
    border-bottom: 1px solid rgb(41, 41, 41) !important;
    font-size: 16pt;
    padding: 0px 0px 0px 0px;
}

.brand-pos{
    margin: 0 0 0 0 !important;
    position: relative !important;
    left: 50%;
}

.sticky-top{
   background: #000000 !important;
   top: 0px !important;

}


/*MEDIA QUERIES */

@media screen and (max-width: 767px)  {

    .nav-pill{   
        background-color: transparent;
        text-align: center;
        border-bottom: 1px solid rgb(41, 41, 41);
        margin: 2px 0px 8px 0px;
        height: auto;
        width: auto;
        padding: 5px 0 5px 0;
    }

    .brand-text{
        display: none;
    }

    .nav-pos {
        padding: 0 0 0 0 !important;
        margin: 0 0 15px 0 !important;
        position: relative !important;
        right: 0 !important;
    }
    
    .brand-pos{
        margin: 0 0 0 0 !important;
        position: relative !important;
        left: 5% !important;
    }

    .brand-image{
        height: 60px;
        display: block;
    }

    .navbar-expand-md{
        padding-right: 5% !important;
        padding-left: 3% !important;
    }
    
}