.blog-container{

}
.desktop-img{
    display: block !important;
}
.mobile-img{
    display: none !important;
}

.blog-box{
    background-color: #000000;
    padding: 15px 5px 15px 5px;
    color: rgb(199, 199, 199);
    margin-bottom: 3%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
}

.blog-btn-box{
    background-color: #000000;
    padding: 35px 0 15px 0;
}
.blog-btn-box p {
    text-align: center;
    background-color: #000000;
    color: rgb(199, 199, 199);
    padding: 0px 0 15px 0;
    margin-top:10px
}
.mid-blog{
    padding: 40px 0px 40px 0px;
    background-size: contain;  
}

.blog-header{
    border-left: 2px solid rgb(26, 26, 26);;
    padding: 5px 0px 0px 10px !important;
    margin: 0px 0px 0px 0px !important;
}
.top-container{
    padding-top: 30px;
    padding-bottom: 30px;

}

.blog-header .headerA{
    color: rgb(0, 0, 0);

    padding: 0px 0px 0px 0px !important;
    margin: 0 0 0 0 !important;
}

.blog-header .headerB{

    color: rgb(180, 0, 0);
    padding: 0px 0px 0px 0px !important;
    margin: 0 0 -20px 0 !important;
}

.blog-img-div{
    margin-bottom: 10px;
}

.blog-img{
    max-width: 250px;

}

.blog-body-div {
    border-bottom: 2px solid #fff;
}

.blog-header-div{
    border-left: 2px solid #fff;
    padding: 4px 0px 4px 15px;

}

.blog-date{
    font-size: 10pt;
}

.blog-title{
    font-size: 18pt;
}

.blog-text-div {
    padding: 5px;
    border-right: 2px solid #f0f0f0;
    white-space: pre-wrap;
    border-bottom: none;
    
}

.blog-text{
    font-size: 12pt;
    margin-top: 5px;
    white-space: pre-wrap;
}

.btn-row{
    padding-top: 25px;
    border-top: 2px solid #222;
}

.btn-left{
    text-align: right;
}

.btn-mid{
    text-align: center;
}

.btn-right{
    text-align: left;
}


@media screen and (max-width: 767px)  {

    .blog-header .headerA{
        color: rgb(0, 0, 0);
    }
    
    .blog-header .headerB{
        font-size: 16pt;
    }

    .blog-body-div{
        border-bottom: none;
    }

    .btn-row{
        padding-top: 0px;
        border-top: none;
    }
    .btn-left{
        text-align: right !important;
        margin: 0px !important;
        padding: 0px !important;
    }
        
    .btn-right{
        text-align: left !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    .desktop-img{
        display: none !important;
    }
    .mobile-img{
        display: block !important;
    }
    .blog-text-div{
        border-bottom: 2px solid #f0f0f0;
    }

}